@import url("fonts/Nohemi/Web-TT/Nohemi-Black.css");
@import url("fonts/Nohemi/Web-TT/Nohemi-Bold.css");
@import url("fonts/Nohemi/Web-TT/Nohemi-ExtraBold.css");
@import url("fonts/Nohemi/Web-TT/Nohemi-ExtraLight.css");
@import url("fonts/Nohemi/Web-TT/Nohemi-Light.css");
@import url("fonts/Nohemi/Web-TT/Nohemi-Medium.css");
@import url("fonts/Nohemi/Web-TT/Nohemi-Regular.css");
@import url("fonts/Nohemi/Web-TT/Nohemi-SemiBold.css");
@import url("fonts/Nohemi/Web-TT/Nohemi-Thin.css");

body {
  font-family: "Nohemi", sans-serif !important;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.nav {
  position: sticky;
  top: 0;
}

.splide {
  padding: 50px 0;
}
.aboutMeCardDesktop {
  padding: 0 !important;
}
.aboutMeCardDesktop .json-card {
  height: 100%;
  border-radius: unset;
}
.aboutMeCardDesktop .json-card .json-content {
  height: 100%;
}
@media (min-width: 992px) {
  html {
    scroll-behavior: smooth;
  }
}
